@model List<FinaliPB.Models.LibroModel>;
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/stylecon.css" />
</head>
<body>
    <div id="container">
        <h1>Consulta de Libros</h1>

        <form id="search-form">
            <label for="title">Buscar por Título:</label>
            <a asp-action="Añadir" asp-controller="Libro" id="search-button" class="btn btn-warning btn-sm">Agregar</a>

            @*<button type="submit" id="search-button">Buscar</button>*@
            <h2>Resultados de la Búsqueda</h2>
            <table id="book-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Cantidad</th>
                        <th>ISBN</th>
                        <th>Fecha Compra</th>
                        <th>Fecha Adquirido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem=>item.IdLibro)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Autor)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Cantidad)</td>
                            <td>@Html.DisplayFor(modelItem=>item.ISBN)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Fecha_de_Compra)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Fecha_de_Adquisicion)</td>

                            <td>
                                @*<a asp-action="ModificarLi" asp-controller="LibrosCrud" asp-route-IdLibro="@item.IdLibro"  class="btn btn-warning btn-sm">Modificar</a>*@
                                <a asp-action="Modificar" asp-controller="Libro" asp-route-IdLibro="@item.IdLibro" class="btn btn-warning btn-sm">Editar</a>
                                <a asp-action="Eliminar" asp-controller="Libro" asp-route-IdLibro="@item.IdLibro" class="btn btn-danger btn-sm">Eliminar</a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </form>
        <div>
            <a asp-action="Index" asp-controller="Libro" class="btn btn-warning btn-sm">volver</a>

        </div>

    </div>
</body>
</html>